
html{
  font-size: 18px;
  background-color: white
}

body{
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

/* Company head */

.company{
  background-color: black;
  color: white;
}

.company img{
  height: 1.5em;
  padding-right: 15px;
}

div{
  display: block;
}

/* Hero banner */

.banner{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

div{
  display: block;
}

.headline{
  background-color: black
  color: white;
  width: 20em;
  padding: 2em, 3em;
  position: relative;
  top: 9em;
}

h1, h4{
  font-weight: bold;
}

.headline h1{
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}
